In [1]:
import pandas as pd
import numpy as np

모든 행과 열에 라벨을 갖는 5x5 크기의 데이터 프레임 생성

In [17]:
df=pd.DataFrame(np.random.randint(10,size=(5,5)),
             index=['one','two','three','four','five'],
            columns=['하나','둘','셋','넷','다섯'])
df

       하나  둘  셋  넷  다섯
one     0  5  3  0   2
two     1  9  7  4   3
three   4  7  8  7   7
four    2  4  9  0   2
five    2  0  4  1   2

다양한 방법으로 특정 행과 열을 선택하는 연습을 해보세요

In [57]:
def fun(x):
    return df.하나>1

In [59]:
print(df.loc['one','하나'])
print(df.loc['one',:].max())
print(df['하나'])
df.loc[df.하나 >2,:]
df.loc[fun(df),"하나":"셋"]

0
5
one      0
two      1
three    4
four     2
five     2
Name: 하나, dtype: int32

       하나  둘  셋
three   4  7  8
four    2  4  9
five    2  0  4

In [19]:
df.loc['one',:].max()

5

In [67]:
print(df.apply(lambda x: x.max()))
print(df.apply(lambda x: x.max()-x.min()))
print(df.count())

하나    4.0
둘     9.0
셋     9.0
넷     7.0
다섯    7.0
dtype: float64
하나    4.0
둘     9.0
셋     6.0
넷     7.0
다섯    5.0
dtype: float64
하나    5
둘     4
셋     5
넷     5
다섯    5
dtype: int64

데이터조작

In [68]:
df.loc["three","둘"]=np.nan # df[three][둘]의 값을 nan으로 바꿈.
df

       하나    둘  셋  넷  다섯
one     0  5.0  3  0   2
two     1  9.0  7  4   3
three   4  NaN  8  7   7
four    2  4.0  9  0   2
five    2  0.0  4  1   2